@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-VariableFont.ttf") format("truetype");
  font-weight: 400 500 600 700;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  font-weight: 400;
  font-optical-sizing: auto;
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(6, 6, 6, 1) 100%
  );
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.block-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 130rem;
  margin: 0 auto;
}

:root {
  --text-size-medium: 1.6rem;
  --gradient-purple: linear-gradient(
    94.26deg,
    rgba(200, 154, 252, 1) 0%,
    rgba(124, 106, 250, 1) 100%
  );
  --gradient-brown: linear-gradient(94.26deg, #df5950 0%, #451046 100%);
}

.button {
  border-radius: 5rem;
  padding: 1rem 3rem;
  color: white;
}

.header {
  padding: 4rem 11rem 4rem 4rem;
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-button {
  margin-left: 55.3rem;
}

.logo-header {
  display: block;
  width: 4rem;
  height: 4rem;
}

.header-nav a {
  font-size: var(--text-size-medium);
  line-height: 150%;
}

.header-nav a:not(:last-child) {
  margin-right: 7.1rem;
}

.header-button {
  font-size: var(--text-size-medium);
  background: var(--gradient-purple);
}

.main-display {
  padding-top: 27rem;
}

.main-display .container {
  position: relative;
  z-index: 3;
  padding-bottom: 22.8rem;
}

.main-display-header {
  max-width: 76rem;
  margin-bottom: 5rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 140%;
}

.main-display-timer {
  display: flex;
  margin-bottom: 7.6rem;
}

.timer-item {
  width: 10.2rem;
  height: 11.2rem;
  background-color: #121212;
}

.timer-item:not(:last-child) {
  margin-right: 3rem;
}
.timer-count {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 140%;
}

.timer-text {
  font-size: var(--text-size-medium);
  opacity: 0.4;
  line-height: 140%;
}

.timer-button {
  font-size: var(--text-size-medium);
  background: var(--gradient-brown);
  line-height: 150%;
}

.main-display-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.work {
  padding-top: 20rem;
  padding-bottom: 24.3rem;
}

.work-wrapper {
  display: flex;
}

.work-img {
  width: 52.6rem;
  height: 49.9rem;
  margin-right: 13.9rem;
}

.work-text {
  max-width: 53.6rem;
  padding-top: 6.9rem;
}

.work-header {
  margin-top: 4.5rem;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
}

.work-description {
  font-size: var(--text-size-medium);
  line-height: 140%;
}

.process {
  padding-bottom: 20rem;
  position: relative;
}

.process .process-img {
  transform: rotate(45deg);
}

.process-img {
  width: 9rem;
  height: 4.5rem;
  margin-right: 2rem;
}

.process-header {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
  margin-bottom: 4.9rem;
  padding-top: 1rem;
}

.process-title {
  display: flex;
}

.process-description {
  max-width: 41.1rem;
  margin-bottom: 8rem;
  font-size: var(--text-size-medium);
  line-height: 160%;
  opacity: 0.5;
}

.process-columns {
  display: flex;
}
.process-columns::after {
  content: "";
  display: block;
  width: 130rem;
  height: 0.2rem;
  position: absolute;
  top: 31rem;
  left: 50%;
  transform: translate(-50%, 0);
  background: var(--gradient-purple);
}

.process-item {
  max-width: 30.6rem;
}

.process-work {
  margin-bottom: 6.5rem;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 140%;
}

.process-text {
  font-size: 1.4rem;
  line-height: 160%;
  opacity: 0.5;
  padding-right: 3rem;
}

.team {
  padding-bottom: 20rem;
}

.team .process-header {
  margin-left: 1.1rem;
}

.team-heeader {
  margin-bottom: 0rem;
}

.team-title {
  display: flex;
  margin-bottom: 11.1rem;
}

.team-wrap {
  display: flex;
  justify-content: space-between;
  padding-left: 11rem;
  padding-right: 11rem;
}

.team-img {
  width: 19rem;
  height: 19rem;
  margin-bottom: 4rem;
  border-radius: 50%;
}

.team-name {
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 140%;
}

.team-professional {
  margin-bottom: 3rem;
  font-size: var(--text-size-medium);
  line-height: 160%;
  opacity: 0.5;
}

.team-link {
  font-size: var(--text-size-medium);
  line-height: 160%;
  border: 0.1rem solid white;
}

.assembly {
  padding-bottom: 4.4rem;
}

.assembly-header {
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
}

.assembly-description {
  margin-bottom: 4.5rem;
  font-size: var(--text-size-medium);
  line-height: 160%;
}

.assembly-button {
  margin-bottom: 5.8rem;
  background: var(--gradient-brown);
  font-weight: 700;
  font-size: var(--text-size-medium);
  line-height: 150%;
}

.assembly-wrap .socials {
  display: flex;
}

.socials {
  display: flex;
  flex-direction: row;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient-purple);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.social-item:not(:last-child) {
  margin-right: 3rem;
}

.social-item img {
  width: 50%;
  height: 50%;
}
